@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@keyframes scale_up {
    from {
        transform: scale(1,1);
        background-color: #161925;}
    to {
        transform: scale(1.13,1.13);
        background-color: #234143;}
}

body html {
    height: 100%;
}

body {
    background-color: #234143;
}

.screen {
    display: flex;
}

body *:not(br) {
    margin: 10px;
    color: aliceblue;
    font-family: 'Rubik', sans-serif;
}

#start, .profile {
    display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.profile {
    background-color: #161925;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    display: flexbox;
}

.pfp {
    background-color: #234143;
    width: 30%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.tab, .profile:has(.activated) {
    align-content: center;
    background-color: #161925;
    border-radius: 40px;
    height: 93vh;
    display: inline-block;
    flex-direction: column;
    justify-content:left;
    width: 550px;
}

.profile:has(.activated) {
    width: 300px;
    overflow: hidden;
}

#start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: 200px;
    width: 200px;
    color: #ffffff;
}

#start > * {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#start > * p {
    margin: 0px;
} 

input {
    background-color: #453249;
    width: 95%;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    border: none;
}

#start p {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-size: 40px;
}

.settings-container, .settings-container-all {
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    background-color: #252634;
    border-radius: 20px;
    height: 0;
    text-align: left;
    visibility: hidden;
}

.settings-container-all {
    height: 0px;
    visibility: hidden;
}

.dropdown {
    margin: 0px;
}

.settings-container * {
    margin-left: 20px;
}

.settings-container input {
    width: 80px;
    text-align: center;
}

.settings-container .nobr {
    display: inline-block;
    width: 100px;
    font-size: 25px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.btn {
    cursor: pointer;
    height: 500px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    animation: scale_up 0.4s running;
    transform: scale(1.13,1.13);
    background-color: #234143;
}