@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@keyframes dropdown {
    from {height: 40px;
        overflow: hidden;}
    to {height: 200px;
    overflow: visible;}
  }
body {
    background-color: #234143;
}

body * {
    margin: 10px;
    color: aliceblue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start {
    height: 300px;
    width: 500px;
    background-color: #161925;
    display:flexbox;
    justify-content: center;
    align-items: left;
    border-radius: 40px;
}
#id {
    width: 20%;
    margin: 5px;
}

input {
    background-color: #453249;
    height: 40px;
    width: 60%;
    font-size: 20px;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    border: none;
}
#start a {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-size: 40px;
}

#settings {
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    background-color: #252634;
    border-radius: 20px;
    height: 40px;
    text-align: left;
    overflow: hidden;
    transition: 1s ease;
}

.reveal {
    height: 200px !important;
}

#dropdown {
    margin: 0px;
}

#settings * {
    margin-left: 20px;
}

#settings input {
    width: 80px;
    text-align: center;
}

#settings .nobr {
    display: inline-block;
    width: 80px;
    font-size: 25px;
}

.break {
    flex-basis: 100%;
    height: 0;
}