<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main/style.css">
</head>
<body>
    <div class="screen">
        <div class="profile">
            <div class="activated" id="profile-toggle"></div>
            <div class="pfp">
                <p id="pfp-index"></p>
            </div>

        </div>
        <div id="start" class="tab">
            <div id="create" class="btn">
                <img src="/images/create_icon.png" class="icon" alt="">
                <p id="createBtn">CREATE ROOM</a>
            </div>
            <br>
            <div id="join" class="btn">
                <img src="/images/join_icon.png" class="icon" alt="" >
                <p id="joinBtn">JOIN ROOM</a>
            </div>
            <br>
        </div>
        <div class="tab">
            <input type="text" id="name" placeholder="Your name">
            <div id="settings-create">
                <p id="dropdown">Settings</p>
                <p class="nobr">Rows</p>
                <input type="number" value="3" id="rows" placeholder="Rows">
                <p class="nobr">Columns</p>
                <input type="number" value="3" id="columns" placeholder="Columns"><br>
                <div class="break"></div>
                <p class="nobr">Players</p>
                <input type="number" value="2" id="players" placeholder="Players">
                <p class="nobr">Required</p>
                <input type="number" value="3" id="required" placeholder="Required"><br>
            </div>
            <div id="settings-join">
                <input type="number" id="id" placeholder="Room id">
            </div>
        </div>
    </div>
    <script src="/main/script.js"></script>
</body>
</html>