<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main/style.css">
</head>
<body>
    <div id="screen">
        <div id="start">
            <a href="" id="create">CREATE ROOM</a>
            <br>
            <a href="" id="join">JOIN ROOM</a>
            <input type="number" id="id" placeholder="Room id">
            <br>
            <input type="text" id="name" placeholder="Your name">
            <div id="settings">
                <p id="dropdown">Settings</p>
                <p class="nobr">Rows</p>
                <input type="number" value="3" id="rows" placeholder="Rows">
                <p class="nobr">Columns</p>
                <input type="number" value="3" id="columns" placeholder="Columns"><br>
                <div class="break"></div>
                <p class="nobr">Players</p>
                <input type="number" value="2" id="players" placeholder="Players">
                <p class="nobr">Required</p>
                <input type="number" value="3" id="required" placeholder="Required"><br>
            </div>
        </div>
    </div>
    <script src="/main/script.js"></script>
</body>
</html>